{% extends "main-page-base.html" %}

{% block title %}Administrador{% endblock %}

{% block side_var %}
<div>
  <nav class="space-y-2 bg-[#ECCA58] border-0 w-full">
    <a class="font-poppins block px-6 text-lg py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
      Inicio
    </a>
    <a onclick="" class="block px-6 text-lg py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
      Catálogos
    </a>
    <a onclick="cargarModuloCompras()" class="block px-6 text-lg py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
      Compras
    </a>
    <a class="block px-6 text-lg py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
      Horneados
    </a>
    <a class="block px-6 text-lg py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
      Ventas
    </a>
    <a class="block px-6 text-lg py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
      Mermas
    </a>
    <div class="absolute bottom-0 left-0 w-full text-center">
      <a href="/logout" class="flex items-center justify-center px-6 text-lg py-2 mt-[200px] text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black font-medium">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
        </svg>
        Cerrar sesión
      </a>
    </div>     
  </nav>
</div>
{% endblock %}

{% block scripts %}
<script src="../../static/js/modulos/compras/index-compra.js"></script>
{% endblock %}