<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
    <aside
        class="bg-[#ECCA58] text-[#8A5114] w-[260px] h-full fixed left-0 top-0 flex flex-col rounded-r-[7%] shadow-lg overflow-hidden">
        <div>
            <div class="flex flex-col items-center mb-8">
                <img src="../../static/images/LogoGalleto.png" alt="Logo" class="w-[120px] block mx-auto my-2">
                <h1 class="text-[#3C1D0C] text-2xl font-bold mb-2">Don Galleto</h1>
                <h2 class="text-[#8A5114] text-sm">Administrador</h2>
            </div>
            <div>
                <nav class="space-y-2 bg-[#ECCA58] border-0 w-full">
                  <a href="#"
                     class="block px-4 py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
                    Inicio
                  </a>
                  <a href="#"
                     class="block px-4 py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
                    Catálogos
                  </a>
                  <a href="/logout" 
                    class="block px-4 py-2 mt-[200px] text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">Cerrar sesión</a>
                </nav>
              </div>
        </div>
    </aside>

    <main class="flex p-10 border-2 border-gray-300">
        {% block content %}
        <h1 class="text-xl font-semibold">Dashboard works!</h1>
        {% endblock %}
    </main>
</body>

</html>