{% extends "main-page-base.html" %}

{% block title %}Vendedor{% endblock %}

{% block side_var %}
<div>
    <div>
        <nav class="space-y-2 bg-[#ECCA58] border-0 w-full">
            <a onclick="cargarModuloVentas()" class="block px-4 py-2 text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">
                Ventas
            </a>
            <a href="/logout"
                class="block px-4 py-2 mt-[200px] text-[#8A5114] bg-transparent hover:bg-[rgba(145,90,23,0.15)] hover:text-black">Cerrar
                sesión</a>
        </nav>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../../static/js/modulos/ventas/index-ventas.js"></script>
{% endblock %}