<div id="listado-pedidos-content" class="p-2">
    <div class="items-center justify-center w-full">
        <!-- Barra de búsqueda -->
        <div class="flex justify-between mb-2 max-w-4xl">
            <!-- Campo de búsqueda -->
            <div class="relative w-96 mx-auto">
                <input type="text" name="buscar" placeholder="Buscar..." oninput="filtrarTabla()"
                    class="w-full pl-4 pr-10 py-1 border border-[#8A5114] rounded-full">

                <!-- Icono de lupa -->
                <div class="absolute right-3 top-1/3 pt-1 transform -translate-y-1/2">
                    <img src="./../../../static/images/magnifying glass.png" class="w-6 h-6">
                </div>
            </div>

        </div>
    </div>

    <!-- Tabla de proveedores -->
    <!-- Tabla de proveedores -->
    <div class="overflow-x-auto overflow-y-auto">
        <table class="w-full table-auto border-collapse  rounded-t-lg">
            <thead>
                <tr class="bg-[#efe6dc] align-middle">
                    <th class="p-2 text-center text-[#915A17]">FECHA</th>
                    <th class="p-2 text-center text-[#915A17]">CLAVE</th>
                    <th class="p-2 text-center text-[#915A17]">OBERVACIONES</th>
                    <th class="p-2 text-center text-[#915A17]">DESCUENTO</th>
                    <th class="p-2 text-center text-[#915A17]">Acciones</th>
                </tr>
            </thead>
            <tbody id="tbody_listado_pedidos">
            </tbody>
        </table>
    </div>

    <!-- Modales -->
    <div id="modalBackdrop" class="hidden fixed inset-0 bg-black/50 z-50">
        <div id="modalForm"
            class="hidden bg-white rounded-lg p-6 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[40rem]">
            <!-- Encabezado del modal -->
            <div class="bg-[#efe6dc] rounded-t-lg p-4 -m-6 mb-4 flex justify-center items-center relative">
                <h2 id="modalTitulo" class="text-black font-semibold text-center">Detalle de pedido</h2>
                <button onclick="cerrarModal()" class="text-black hover:text-gray-700 absolute right-4 cursor-pointer">
                    <img src="../../../static/images/cerrar.png" class="w-6 h-6">
                </button>
            </div>

            <!-- Formulario -->
            <form id="mermaProductoForm" class="space-y-4">
                <!-- Campo para id de merma de producto -->
                <input type="number" name="venta_id" value="0" hidden>

                <!-- Primera fila: clave y fecha -->
                <div class="grid grid-cols-3 gap-4">
                    <!-- Campo clave -->
                    <div>
                        <label class="block text-[#895645] mb-1">Clave</label>
                        <label name="clave" class="block text-black mb-1"></label>
                    </div>

                    <!-- Campo Teléfono -->
                    <div>
                        <label class="block text-[#895645] mb-1">Fecha</label>
                        <label name="fecha" class="block text-black mb-1"></label>
                    </div>

                    <!-- Campo Descuento -->
                    <div>
                        <label class="block text-[#895645] mb-1">Descuento ($)</label>
                        <label name="descuento" class="block text-black mb-1"></label>
                    </div>
                </div>

                <!-- Primera fila: clave y fecha -->
                <div class="grid grid-cols-3 gap-4">
                    <!-- Campo observaciones -->
                    <div>
                        <label class="block text-[#895645] mb-1">Observaciones</label>
                        <label name="observaciones" class="block text-black mb-1"></label>
                    </div>
                </div>
            </form>

            <!-- Tabla para los detalles del pedido (venta) -->
            <table class="w-full table-auto border-collapse mb-4 rounded-t-lg">
                <thead>
                    <tr class="bg-[#efe6dc] align-middle">
                        <th class="p-2 text-center text-[#915A17]">PRODUCTO</th>
                        <th class="p-2 text-center text-[#915A17]">TIPO DE VENTA</th>
                        <th class="p-2 text-center text-[#915A17]">CANTIDAD</th>
                        <th class="p-2 text-center text-[#915A17]">SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody id="tbody_pedido_detalle">
                    <!-- Aquí se llenarán los detalles del pedido (venta) -->
                </tbody>
            </table>

            <button type="submit" onclick="aceptarPedido()"
                class="w-full py-2 bg-[#efe6dc] text-[#3C1D0C] rounded-full border border-[#895645] font-semibold flex items-center justify-center gap-2 hover:bg-[#a46a52] cursor-pointer">
                <img src="../../../static/images/cancelar.png" class="w-5 h-5">
                Aceptar pedido
            </button>
        </div>
    </div>
</div>