<div class="w-full mx-auto bg-white p-8">
    <h1 class="text-2xl font-bold">Historial de ordenes</h1>
    <p class="text-gray-500">Aquí se mostrarán todas sus compras en general</p>
    
    <div class="bg-[#EFE6DC] p-4 mt-4 rounded-lg">
        <div class="flex justify-between text-sm">
            <span><strong>Número de orden:</strong> <!-- Atributo desde la BD --> WU88191111</span>
            <span><strong>Fecha de compra:</strong> <!-- Atributo desde la BD --> Enero 22, 2025</span>
            <span><strong>Monto total:</strong> $<!-- Atributo desde la BD --> 120.00</span>
        </div>
    </div>
    
    <!-- Producto 1 -->
    <div class="flex mt-6 space-x-4">
        <img src="static/images/galletas/Galleta test backend.jpg" alt="Product Image" class="w-32 h-32 object-cover mr-4 rounded-lg">
        <div>
            <h2 class="font-bold">Galleta backend</h2>
            <p class="text-gray-500">Ingredientes: Huevo, Harina, Manequilla </p>
            <p class="mt-2 text-lg font-bold">$<!-- Atributo desde la BD --> 35.00</p>
            <div class="flex space-x-4 text-blue-600 mt-2">
                <a href="">Comprar de nuevo</a>
            </div>
        </div>
    </div>
    
    <!-- Producto 2 -->
    <div class="flex mt-6 space-x-4">
        <img src="static/images/galletas/Galleta test backend.jpg" alt="Product Image" class="w-32 h-32 object-cover mr-4 rounded-lg">
        <div>
            <h2 class="font-bold">Galleta backend</h2>
            <p class="text-gray-500">Ingredientes: Huevo, Harina, Manequilla </p>
            <p class="mt-2 text-lg font-bold">$<!-- Atributo desde la BD --> 35.00</p>
            <div class="flex space-x-4 text-blue-600 mt-2">
                <a href="#">View Product</a>
            </div>
        </div>
    </div>
</div>