<div id="insumos-content" class="p-6">
    <div class="items-center justify-center w-full">
        <!-- Barra de búsqueda y botón añadir -->
        <div class="flex justify-between mb-6 max-w-4xl">
            <!-- Campo de búsqueda -->
            <div class="relative w-96 mx-auto">
                <input type="text" placeholder="Buscar..." name="buscar" oninput="filtrarTabla()"
                    class="w-full pl-4 pr-10 py-2 border border-[#7A7A7A] rounded-full">

                <!-- Icono de lupa -->
                <div class="absolute right-3 top-1/2 transform -translate-y-1/2">
                    <img src="./../../../static/images/magnifying glass.png" class="w-6 h-6">
                </div>
            </div>

            <!-- Botón para añadir -->
            <button onclick="abrirModal('añadir')" class="text-white p-2 rounded-full">
                <img src="../../../static/images/plus.png" class="w-7 h-7">
            </button>
        </div>

        <!-- Tabla de insumos -->
        <div class="overflow-x-auto overflow-y-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-[#DBC659] align-middle">
                        <th class="p-3 text-center text-[#915A17] border">NOMBRE</th>
                        <th class="p-3 text-center text-[#915A17] border">DESCRIPCI&Oacute;N</th>
                        <th class="p-3 text-center text-[#915A17] border">UNIDAD DE MEDIDA</th>
                        <th class="p-3 text-center text-[#915A17] border">ACCIONES</th>
                    </tr>
                </thead>
                <tbody id="tbody_insumos">
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modales -->
    <div id="modalBackdropInsumo" class="hidden fixed inset-0 bg-black bg-opacity-50 z-50">
        <!-- Modal Añadir/Editar -->
        <div id="modalFormInsumo"
            class="hidden bg-white rounded-lg p-6 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[40rem]">
            <!-- Encabezado del modal -->
            <div class="bg-[#EACD5A] rounded-t-lg p-4 -m-6 mb-4 flex justify-center items-center relative">
                <h2 id="modalTituloInsumo" class="text-black font-semibold text-center">Añadir insumo</h2>
                <button onclick="cerrarModal()" class="text-black hover:text-gray-700 absolute right-4">
                    <img src="../../../static/images/cerrar.png" class="w-6 h-6">
                </button>
            </div>
            <!-- Formulario -->
            <form id="insumoForm" class="space-y-4 mb-8">
                <input type="number" id="insumo_id" value="0" hidden>
                <div class="grid grid-cols-2 gap-4">
                    <!-- Nombre -->
                    <div>
                        <label class="block text-black mb-2">Nombre</label>
                        <input type="text" name="nombre" class="w-full p-3 border border-[#8A5114] rounded-full"
                            required>
                    </div>
                    <!-- Descripcion -->
                    <div>
                        <label class="block text-black mb-2">Descripci&oacute;n</label>
                        <input type="text" name="descripcion" class="w-full p-3 border border-[#8A5114] rounded-full"
                            required>
                    </div>
                    <!-- Unidad -->
                    <div>
                        <label class="block text-black mb-2">Unidad</label>
                        <select type="text" id="cmb_unidad" name="unidad" class="w-full p-3 border border-[#8A5114] rounded-full"
                            required>
                        </select>
                    </div>
                </div>
            </form>
            <!-- Botón Guardar -->
            <button type="submit" onclick="guardarInsumo()"
                class="w-full py-3 bg-[#ffffff] text-[#6d3e0f] rounded-full border border-[#8A5114] font-medium flex items-center justify-center gap-2 hover:bg-gray-50">
                <img src="../../../static/images/guardar.png" class="w-5 h-5">
                Guardar
            </button>
        </div>

        <div id="modalEliminarInsumo"
            class="hidden bg-white rounded-lg p-8 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[30rem]">
            <div class="text-center space-y-8">
                <!-- Icono de advertencia -->
                <div class="flex justify-center">
                    <img src="../../../static/images/warning.png" class="w-32 h-32">
                </div>

                <!-- Texto de confirmación -->
                <div class="mb-6">
                    <h1 class="text-2xl text-gray-700 font-medium">
                        ¿Estás seguro que deseas eliminar el registro?
                    </h1>
                </div>

                <!-- Botones -->
                <div class="flex gap-6 justify-center">
                    <!-- Botón Aceptar -->
                    <button onclick="confirmarEliminar()"
                        class="px-6 py-3 border-2 border-[#8A5114] bg-white text-[#8A5114] rounded-full hover:bg-[#f5f5f5] transition-colors flex items-center gap-3">
                        <img src="../../../static/images/aceptar.png" class="w-6 h-6">
                        <span class="text-lg font-medium">Aceptar</span>
                    </button>

                    <!-- Botón Cancelar -->
                    <button onclick="cerrarModal()"
                        class="px-6 py-3 border-2 border-[#DAA520] bg-white text-[#DAA520] rounded-full hover:bg-[#f5f5f5] transition-colors flex items-center gap-3">
                        <img src="../../../static/images/cancelar.png" class="w-6 h-6">
                        <span class="text-lg font-medium">Cancelar</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Modal Exito -->
        <div id="modalExitoInsumo"
            class="hidden bg-white rounded-lg p-8 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[30rem]">
            <div class="text-center space-y-6">
                <!-- Icono de éxito -->
                <div class="flex justify-center">
                    <img src="../../../static/images/aceptar verde.png" class="w-32 h-32 animate-bounce">
                </div>

                <!-- Mensaje -->
                <div class="mb-4">
                    <h1 class="text-2xl font-semibold">
                        ¡Proceso finalizado con éxito!
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>