<div class="flex flex-col h-screen">
    <!-- Tabs -->
    <div class="border-b border-gray-200 mb-4">
        <ul class="flex space-x-4" id="tabs-container">
            <li data-target="merma-producto"
                class="tab-item active cursor-pointer py-2 px-4 bg-[#8A5114] text-white font-medium rounded-t-lg transition-colors duration-200"
                >
                Mermas producto
            </li>
            <li data-target="merma-insumo"
                class="tab-item cursor-pointer py-2 px-4 text-black hover:bg-[#8A5114]/20 font-medium rounded-t-lg transition-colors duration-200"
                >
                Mermas insumo
            </li>
        </ul>
    </div>

    <!-- Contenedor único para todo el contenido de cada submodulo de compras -->
    <div id="mermas-contenido" class="flex-1 overflow-y-auto p-4"></div>
</div>