<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Don Galleto</title>
    <!-- <link href="../static/css/output.css" rel="stylesheet"> -->
    <link  rel="icon" href="../static/images/LogoGalletaPequeña.png">
    <link rel="stylesheet" href="../static/src/output.css">
</head>
<body class="bg-gray-100 bg-[url(../images/fondologin.png)] bg-cover bg-no-repeat bg-center bg-fixed">
    <main class="min-h-screen flex items-center justify-center p-4"> <!-- Cambios clave aquí -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>