<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Don Galleto</title>
  <link rel="icon" href="../static/images/LogoGalletaPequeña.png">
  <link rel="stylesheet" href="../static/src/output.css">
  <link rel="stylesheet" href="../static/css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Nota: No es necesario enlazar input.css, ya que sus estilos se compilan en output.css -->
</head>
<body >
  <main class="back">
    {% block content %}
    {% endblock %}
  </main>

  <script src="../static/js/modulos/auth/login.js"></script>
  <!-- Cargar reCAPTCHA solo si se define la clave -->
  {% if recaptcha_site_key_v3 %}
  <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key_v3 }}"></script>
  {% endif %}
</body>
</html>
