<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Don Galleto</title>
    <!-- <link href="../static/css/output.css" rel="stylesheet"> -->
    <link  rel="icon" href="../static/images/LogoGalleto.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <main class="back"> <!-- Cambios clave aquí -->
        {% block content %}
        {% endblock %}
    </main>
</body>
<script src="../static/js/modulos/auth/login.js"></script>
</html>