<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Don Galleto</title>
  <link rel="icon" href="../static/images/LogoGalletaPequeña.png">
  <link rel="stylesheet" href="../static/src/output.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body class="min-h-screen">
  <!-- Sidebar -->
  <aside class="bg-[#efe6dc] text-[#8A5114] w-[260px] fixed flex flex-col rounded-nav shadow-lg overflow-hidden">
    <div>
      <div class="flex flex-col items-center mb-8 mt-7">
        <img src="../../static/images/LogoGalleto.png" alt="Logo" class="w-[100px] block mx-auto my-2">
        <h1 class="text-[#3C1D0C] text-2xl font-semibold font-poppins">Don Galleto</h1>
        <h2 class="text-[#8A5114]">{{ tipo_user }} {{ user }}</h2>
      </div>
      {% block side_var %}
      {% endblock %}
    </div>
  </aside>

  <!-- Contenido principal -->

  <main id="main-content" class="ml-[275px] p-2 min-h-screen">
  </main>

  {% block scripts %}
  {% endblock %}
</body>
</html>
