<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Don Galleto</title>
  <link rel="icon" href="../static/images/LogoGalletaPequeña.png">
  <link rel="stylesheet" href="../static/css/landing.css"> 
  <link rel="stylesheet" href="../static/src/output.css">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <!-- Contenido principal -->

 {% block content %}
 {% endblock %}

  {% block scripts %}
  {% endblock %}
</body>
</html>
